@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;900&display=swap');


*, *::before, *::after {
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 0;
    margin: 0;
}

body {

}

/*************************/
/*  HEADER AND NAV BAR   */
/*************************/
header {
    height: 10vh;
    padding: auto 0;
    padding: 3vh 0;
    
}

header nav {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

header nav h2 {
    text-align: center;
    padding-left: 25px;
}

header nav h2 a {
    text-decoration: none;
    color: #FF0000;
    font-family: 'Orbitron', sans-serif;
    font-weight: 900px;
    font-size: 1.5rem;
}

header nav ul {
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

header nav ul li {
    display: flex;
    justify-self: center;
    align-self: center;
}

header nav ul li a {
    text-decoration: none;
    color: #FF0000;
    font-weight: bold;
    transition: 1s ease;
}

header nav ul li a:hover {
    color: blue;
}

header nav #hamburger {
    cursor: pointer;
    align-self: center;
    justify-self: flex-end;
    padding-right: 25px;
}

.bar {
    display: block;
    width: 30px;
    height: 4px;
    margin: 5px auto;
    background-color: black;
}

 /*************************/
 /*    UTILITY CLASSES    */
 /*************************/
.hidden {
    display: none;
}
.btn {
    background-color: #FFFFFF;
    border-radius: 10px;
    color: #FF0000;
    font-weight: bold;
    font-size: 1.1rem;
    padding: 3px;
}
.btn:hover {
    border: solid #FF0000 2px;
}
.big-txt {
    color: #FFF000;
    font-size: 2rem;
}



/*************************/
/* QUIZ START MENU STATE */
/*************************/
#start-menu {
    width: 100vw;
    background-color: #000000;
}

#start-menu #menu-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    padding: 0 10px;
}

#start-menu #menu-buttons button {
    height: 30px;
}

#start-menu #question-area {
    height: 65vh;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFF000;
    padding: 0 2%;
}

#start-menu #start-button-area {
    border: solid black 2px;
    display: flex;
    justify-content: center;
    height: 15vh;
    align-items: center;
}

#start-menu #start-button-area button {
    height: 50px;
    width: 100px;
}




/************************/
/* QUIZ MAIN GAME STATE */
/************************/
#main-quiz {
    width: 100vw;
    background-color: #000000;
}

#main-quiz #scores {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    color: #FFF000;
    padding: 0 6%;
    font-weight: bold;
    font-size: 1.25rem;
}

#main-quiz #question {
    height: 65vh;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFF000;
    padding: 0 5%;
}


#main-quiz #answer-buttons {
    /* border: solid black 2px; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 15vh;
    align-items: center;
    padding: 0;
    margin: 0;
}
#main-quiz #answer-buttons .btn {
    height: 7.5vh;
    border-radius: 0;
}



/************************/
/* QUIZ GAME OVER STATE */
/************************/

#game-over #results {
    height: 75vh;
    background-color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
}

#game-over #option-buttons {
    height: 15vh;
    background-color: #000000;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#game-over #results #input-hiscore {
    text-align: center;
    align-self: center;
}

#game-over #results #input-hiscore input {
    width: 100%;
    height: 50px;
    background-color: #FFFFFF;
    color: #FF0000;
    font-size: 1.25rem;
    text-align: center;
    font-weight: bold;
}

#game-over #results #input-hiscore button {
    width: 40%;
    height: 50px;
    margin-top: 20px;
}

/************************/
/*     CONTACT FORM     */
/************************/
main#contact-form {
    width: 100vw;
    height: 90vh;
    background-color: #000000;
}






/* MEDIA QUERIES */
@media screen and (max-width: 750px) {
    header nav ul {
        display: none;
    }
}

@media screen and (min-width: 751px) {
    header nav .hamburger {
        display: none;
    }
}