@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;900&display=swap');


*, *::before, *::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/*************************/
/*  HEADER AND NAV BAR   */
/*************************/
header {
    height: 10vh;
    padding: auto 0;
    padding: 3vh 0;
    
}

header nav {
    
}

header nav .grid-wrapper {
    display: flex;
    justify-content: space-between;
}

header nav h2 {
    padding-left: 25px;
}

header nav h2 a {
    text-decoration: none;
    color: #FF0000;
    font-family: 'Orbitron', sans-serif;
    font-weight: 900px;
    font-size: 1.5rem;
}

header nav ul {
    list-style: none;
}




header nav .hamburger {
    cursor: pointer;
    align-self: center;
    justify-self: flex-end;
    padding-right: 25px;
    display: none;
}

.bar {
    display: block;
    width: 30px;
    height: 4px;
    margin: 5px auto;
    background-color: black;
    border-radius: 10px;
}

.grid-wrapper .nav-links {
    display: flex;
    list-style: none;
    justify-content: space-between;
}

.grid-wrapper .nav-links li {
    display: flex;
    justify-self: center;
    align-self: center;
    padding: 0 1.5rem;
}

.grid-wrapper .nav-links li a {
    text-decoration: none;
    color: #FF0000;
    font-weight: bold;
    transition: 0.3s ease;
    display: block;
}

.grid-wrapper .nav-links li a:hover {
    color: blue;
}


footer {
    /* height: 20vh; */
    color: black;
    background-color: #FFFFFF;
    display: grid;
    grid-template-columns: 1fr;
    font-family: none;
}

footer .quote {
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding-top: 15px;
    font-weight: bold;
}

footer #social {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 150%;
    padding: 15px 0;
}
footer #social a {
    color: #FF0000;
}


 /*************************/
 /*    UTILITY CLASSES    */
 /*************************/
.hidden {
    display: none;
}

#hide {
    display: none;
}

.btn {
    background-color: #FFFFFF;
    border-radius: 10px;
    color: #FF0000;
    font-weight: bold;
    font-size: 1.1rem;
    padding: 5px;
    font-family: 'Orbitron', sans-serif;
    height: 50px;
}
.btn:hover {
    border: solid #FF0000 2px;
}
.big-txt {
    color: #2C7806;
    font-weight: bold;
    font-size: 2rem;
}



/*************************/
/* QUIZ START MENU STATE */
/*************************/
#start-menu {
    width: 100vw;
    background-color: #f5eec2;
}

#start-menu #menu-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    padding: 0 10px;
}

#start-menu #menu-buttons button {
    height: 50px;
}

#start-menu #question-area {
    height: 65vh;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #2C7806;
    font-weight: bold;
    padding: 0 2%;
}

#start-menu #start-button-area {
    border: solid #f5eec2 2px;
    display: flex;
    justify-content: center;
    height: 15vh;
    align-items: center;
}

#start-menu #start-button-area button {
    height: 5rem;
    width: 8rem;
}




/************************/
/* QUIZ MAIN GAME STATE */
/************************/
#main-quiz {
    width: 100vw;
    background-color: #f5eec2;
}

#main-quiz #scores {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    color: #2C7806;
    padding: 0 6%;
    font-weight: bold;
    font-size: 1.25rem;
}

#main-quiz #question {
    height: 65vh;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: #2C7806;
    padding: 0 5%;
}


#main-quiz #answer-buttons {
    /* border: solid black 2px; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 15vh;
    align-items: center;
    padding: 0;
    margin: 0;
}
#main-quiz #answer-buttons .btn {
    height: 7.5vh;
    border-radius: 0;
}



/************************/
/* QUIZ GAME OVER STATE */
/************************/

#game-over #results {
    height: 75vh;
    background-color: #f5eec2;
    display: flex;
    justify-content: center;
    align-items: center;
}

#game-over #option-buttons {
    height: 15vh;
    background-color: #f5eec2;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#game-over #results #input-hiscore {
    text-align: center;
    align-self: center;
}

#game-over #results #input-hiscore input {
    width: 100%;
    height: 50px;
    background-color: #FFFFFF;
    color: #FF0000;
    font-size: 1.25rem;
    text-align: center;
    font-weight: bold;
}

#game-over #results #input-hiscore button {
    width: 40%;
    height: 50px;
    margin-top: 20px;
}

/************************/
/*     CONTACT FORM     */
/************************/
#contact-form {
    width: 100vw;
    height: 90vh;
    background-color: #f5eec2;
    color: #FF0000;
    text-align: center;
}

#contact-form p {
    padding: 40px 25px;
    font-style: italic;
}

.divider {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.form-label {
    font-weight: bold;
}

.form-input {
    max-width: 50%;
    margin: 5px auto;
    text-align: center;
    color: #FF0000;
}




/* Naughts and Crosses - Game Page */
#main-game-area {
    height: 90vh;
    width: 100vw;
    background-color: #f5eec2;
}

.game-grid {
    height: 75vh;
    width: 100vw;
    background-color: #f5eec2;
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
}

.game-grid .game-grid-square {
    border: solid red 1px;
    height: 100px;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}


/* 
Referred to code from Web Dev Simplified 
on youtube for the x and o classes 
*/

.game-grid-square.x::before,
.game-grid-square.x::after {
    background-color: #2C7806;
}

.game-grid-square.o::before,
.game-grid-square.o::after {
    background-color: #2C7806;
}


.game-grid-square.x::before,
.game-grid-square.x::after,
.game-grid .game-grid-square:not(.x):not(.o):hover::before,
.game-grid .game-grid-square:not(.x):not(.o):hover::after { 
    content: '';
    width: 10%;
    height: 90%;
    position: absolute;
}
.game-grid-square.x::before,
.game-grid .game-grid-square:not(.x):not(.o):hover::before {
    transform: rotate(45deg);
}
.game-grid-square.x::after,
.game-grid .game-grid-square:not(.x):not(.o):hover::after { 
    transform: rotate(-45deg);
}


.game-grid .game-grid-square:not(.x):not(.o):hover::before,
.game-grid .game-grid-square:not(.x):not(.o):hover::after {
    background-color: grey;
}



/* https://www.youtube.com/watch?v=Y-GkMjUZsmM   -   20:10 */

.game-grid-square.o::before,
.game-grid-square.o::after,
.game-grid .game-grid-square:not(.x):not(.o):hover::before,
.game-grid .game-grid-square:not(.x):not(.o):hover::after {
    content: '';
    position: absolute;
    border-radius: 50%;
}
.game-grid-square.o::before,
.game-grid .game-grid-square:not(.x):not(.o):hover::before {
    width: 90%;
    height: 90%;
}
.game-grid-square.o::after,
.game-grid .game-grid-square:not(.x):not(.o):hover::after {
    width: 70%;
    height: 70%;
    background-color: #f5eec2;
}


.game-grid-square.x,
.game-grid-square.o {
    cursor: not-allowed;
}




#main-game-area #game-score-area {
    height: 15vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #2C7806;
    font-weight: bold;
    padding: 0 20px;
}







/* MEDIA QUERIES */
@media screen and (max-width: 500px) {
    header nav .hamburger {
        display: block;
    }

    header nav .grid-wrapper .nav-links {
        display: block;
    }

    header nav .grid-wrapper .nav-links {
        flex-direction: column;
        justify-content: flex-end;
        width: 100%;
        position: absolute;
        top: 10vh;
    }

    header nav .grid-wrapper .nav-links li {
        width: 100%;
        background-color: #2C7806;
        justify-content: center;
        padding: 1rem;
    }
}

@media screen and (min-width: 501px) {
    header nav .hamburger {
        display: none;
    }

    header nav .grid-wrapper #hide {
        display: flex;
    }
}